.career {
  display: flex;
  flex-direction: column;
  margin: 1.25rem auto;
  max-width: 42rem;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  &--heading {
    font-family: "Roboto-Bold";
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 700;
  }

  &--cards {
    display: grid;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }

  &--card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow); */
    text-align: center;

    &--name {
      font-family: "Roboto-Medium";
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
    }
  }
}

@media (min-width: 768px) {
  .career {
    margin: 0 auto;

    &--heading {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }

    &--cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
